h1 {
  color:#99FFFF;
  text-size: 80px;
  font-style: italic;
  background-color: green;
}

body {
  background-color:red;
}

li.done {
  text-decoration: line-through;
}

.High {
  color:green;
}

.Medium {
  color:blue;
}

.Low {
  color:yellow;
}
  

